@charset "utf-8";
/* ==========================================================================
 project footer
========================================================================== */

.p-footerLogo {
	display: block;
	@include mq(tb) {
		flex: 211px;
	}
	img {
		width: 112px;
	}
}
.p-footerAdress {
	@include mq(tb) {
		flex: 422px;
	}
	p {
		line-height: 1.8;
		color: #f0f0f0;
	}
}
.p-footerSns {
	h3 {
		text-align: center;
	}
	@include mq(tb) {
		flex: 318px;
		h3 {
			text-align: left;
		}
	}
	ul {
		display: flex;
		margin: 0 auto;
		width: 116px;
		@include mq(tb) {
			margin: 0;
		}
		li {
			flex: 25px;
		}
	}
}
.p-footerCopy {
	padding: 50px 0 30px;
	text-align: center;
	font-family: "Lateef";
	color: #9B9B9B;
	@include mq(tb) {
		padding: 80px 0 25px;
		text-align: right;
	}
}